@media screen and (max-width: 480px){
	.site-footer p{
		padding: 0 !important;
	}
	.input-group{
		min-width: auto !important;
	}	

	.sec-download .button-content{
		text-align: center;
		margin-top: 10px;
	}
	.sec-dishes .list-dishes{
		margin-bottom: 20px;
	}
	#menu-footer-menu li{
		float: none;
	}
	.footer-widget-area ul li a{
		font-size: 15px;
	}
	.footer-widget-area .list-icon{
		margin-bottom: 30px;
	}
	.list-icon h4{
		margin-bottom: 16px;
	}
	.blog-post{
		margin-bottom: 20px;
	}
	.sec-header span {
    letter-spacing: 1px;
    margin: 10px 0; 
}
	.banner .sec-header {
      top: 34%;
}

}
@media only screen and (min-width: 481px) and (max-width: 767px){
	.site-footer p{
		padding: 0 !important;
	}
	.sec-download .button-content{
		text-align: center;
		margin-top: 10px;
	}
	.sec-dishes .list-dishes{
		margin-bottom: 20px;
	}
	#menu-footer-menu li{
		float: none;
	}
	.blog-post{
		margin-bottom: 20px;
	}

}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.site-footer p{
		padding: 0 !important;
	}
	.footer-widget-area ul li a{
		font-size: 16px;
	}
	.header ul#menu-main-menu li {
    margin-right: 0px;
	}
	
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	
}
@media screen and (min-width: 1200px){
	
}
